<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_Beta</key>
	<array>
		<string>Beta</string>
	</array>
	<key>@MMK_L_Chi</key>
	<array>
		<string>Chi</string>
	</array>
	<key>@MMK_L_Delta</key>
	<array>
		<string>Alpha</string>
		<string>uni0394</string>
		<string>Lambda</string>
	</array>
	<key>@MMK_L_Epsilon</key>
	<array>
		<string>Epsilon</string>
		<string>Xi</string>
	</array>
	<key>@MMK_L_Gamma</key>
	<array>
		<string>Gamma</string>
	</array>
	<key>@MMK_L_Iota</key>
	<array>
		<string>Iota</string>
	</array>
	<key>@MMK_L_Kappa</key>
	<array>
		<string>Kappa</string>
	</array>
	<key>@MMK_L_Omega</key>
	<array>
		<string>uni03A9</string>
	</array>
	<key>@MMK_L_Phi</key>
	<array>
		<string>Phi</string>
	</array>
	<key>@MMK_L_Psi</key>
	<array>
		<string>Psi</string>
	</array>
	<key>@MMK_L_Rho</key>
	<array>
		<string>Rho</string>
	</array>
	<key>@MMK_L_Sigma</key>
	<array>
		<string>Sigma</string>
	</array>
	<key>@MMK_L_Tau</key>
	<array>
		<string>Tau</string>
	</array>
	<key>@MMK_L_Theta</key>
	<array>
		<string>Theta</string>
		<string>Omicron</string>
	</array>
	<key>@MMK_L_Upsilon</key>
	<array>
		<string>Upsilon</string>
	</array>
	<key>@MMK_L_Zeta</key>
	<array>
		<string>Zeta</string>
	</array>
	<key>@MMK_L_alpha</key>
	<array>
		<string>alpha</string>
	</array>
	<key>@MMK_L_beta</key>
	<array>
		<string>beta</string>
	</array>
	<key>@MMK_L_chi</key>
	<array>
		<string>chi</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>uni037E</string>
	</array>
	<key>@MMK_L_delta</key>
	<array>
		<string>delta</string>
	</array>
	<key>@MMK_L_epsilon</key>
	<array>
		<string>epsilon</string>
	</array>
	<key>@MMK_L_eta</key>
	<array>
		<string>eta</string>
	</array>
	<key>@MMK_L_gamma</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
	</array>
	<key>@MMK_L_iota</key>
	<array>
		<string>iota</string>
	</array>
	<key>@MMK_L_kappa</key>
	<array>
		<string>kappa</string>
	</array>
	<key>@MMK_L_lambda</key>
	<array>
		<string>lambda</string>
	</array>
	<key>@MMK_L_mu</key>
	<array>
		<string>uni03BC</string>
	</array>
	<key>@MMK_L_omega</key>
	<array>
		<string>omega</string>
	</array>
	<key>@MMK_L_omicron</key>
	<array>
		<string>omicron</string>
	</array>
	<key>@MMK_L_phi</key>
	<array>
		<string>phi</string>
	</array>
	<key>@MMK_L_psi</key>
	<array>
		<string>psi</string>
	</array>
	<key>@MMK_L_rho</key>
	<array>
		<string>rho</string>
	</array>
	<key>@MMK_L_sigma</key>
	<array>
		<string>sigma</string>
	</array>
	<key>@MMK_L_sigma1</key>
	<array>
		<string>uni03C2</string>
	</array>
	<key>@MMK_L_tau</key>
	<array>
		<string>tau</string>
	</array>
	<key>@MMK_L_theta</key>
	<array>
		<string>theta</string>
	</array>
	<key>@MMK_L_upsilon</key>
	<array>
		<string>upsilon</string>
	</array>
	<key>@MMK_L_xi</key>
	<array>
		<string>xi</string>
	</array>
	<key>@MMK_L_zeta</key>
	<array>
		<string>zeta</string>
	</array>
	<key>@MMK_R_Chi</key>
	<array>
		<string>Chi</string>
	</array>
	<key>@MMK_R_Delta</key>
	<array>
		<string>Alpha</string>
		<string>uni0394</string>
		<string>Lambda</string>
	</array>
	<key>@MMK_R_Iota</key>
	<array>
		<string>Iota</string>
	</array>
	<key>@MMK_R_Omega</key>
	<array>
		<string>uni03A9</string>
	</array>
	<key>@MMK_R_Phi</key>
	<array>
		<string>Phi</string>
	</array>
	<key>@MMK_R_Psi</key>
	<array>
		<string>Psi</string>
	</array>
	<key>@MMK_R_Sigma</key>
	<array>
		<string>Sigma</string>
	</array>
	<key>@MMK_R_Tau</key>
	<array>
		<string>Tau</string>
	</array>
	<key>@MMK_R_Theta</key>
	<array>
		<string>Theta</string>
		<string>Omicron</string>
	</array>
	<key>@MMK_R_Upsilon</key>
	<array>
		<string>Upsilon</string>
	</array>
	<key>@MMK_R_Xi</key>
	<array>
		<string>Xi</string>
	</array>
	<key>@MMK_R_Zeta</key>
	<array>
		<string>Zeta</string>
	</array>
	<key>@MMK_R_alpha</key>
	<array>
		<string>alpha</string>
	</array>
	<key>@MMK_R_anoteleia</key>
	<array>
		<string>anoteleia</string>
	</array>
	<key>@MMK_R_beta</key>
	<array>
		<string>beta</string>
	</array>
	<key>@MMK_R_chi</key>
	<array>
		<string>chi</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>uni037E</string>
	</array>
	<key>@MMK_R_delta</key>
	<array>
		<string>delta</string>
	</array>
	<key>@MMK_R_epsilon</key>
	<array>
		<string>epsilon</string>
	</array>
	<key>@MMK_R_eta</key>
	<array>
		<string>eta</string>
	</array>
	<key>@MMK_R_gamma</key>
	<array>
		<string>gamma</string>
		<string>nu</string>
	</array>
	<key>@MMK_R_iota</key>
	<array>
		<string>iota</string>
	</array>
	<key>@MMK_R_lambda</key>
	<array>
		<string>lambda</string>
	</array>
	<key>@MMK_R_mu</key>
	<array>
		<string>kappa</string>
		<string>uni03BC</string>
	</array>
	<key>@MMK_R_omega</key>
	<array>
		<string>omega</string>
	</array>
	<key>@MMK_R_omicron</key>
	<array>
		<string>omicron</string>
		<string>sigma</string>
	</array>
	<key>@MMK_R_phi</key>
	<array>
		<string>phi</string>
	</array>
	<key>@MMK_R_psi</key>
	<array>
		<string>psi</string>
	</array>
	<key>@MMK_R_rho</key>
	<array>
		<string>rho</string>
	</array>
	<key>@MMK_R_sigma1</key>
	<array>
		<string>uni03C2</string>
	</array>
	<key>@MMK_R_tau</key>
	<array>
		<string>tau</string>
	</array>
	<key>@MMK_R_theta</key>
	<array>
		<string>theta</string>
	</array>
	<key>@MMK_R_upsilon</key>
	<array>
		<string>upsilon</string>
	</array>
	<key>@MMK_R_xi</key>
	<array>
		<string>xi</string>
	</array>
	<key>@MMK_R_zeta</key>
	<array>
		<string>zeta</string>
	</array>
</dict>
</plist>
