<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>5</integer>
		<integer>9</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>BF0418D1-C74B-4919-85FD-154729E29773</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>a</string>
		<string>a.alt01</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>g.alt01</string>
		<string>g.alt02</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>zero</string>
		<string>zero.alt01</string>
		<string>zero.alt02</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>ampersand</string>
		<string>at</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>period</string>
		<string>ellipsis</string>
		<string>colon</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>exclamdown</string>
		<string>exclam</string>
		<string>questiondown</string>
		<string>question</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>degree</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>numbersign</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>lozenge</string>
		<string>logicalnot</string>
		<string>radical</string>
		<string>integral</string>
		<string>infinity</string>
		<string>uni212E</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>partialdiff</string>
		<string>cent</string>
		<string>Euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>dollar</string>
		<string>yen</string>
		<string>uni0E3F</string>
		<string>colonmonetary</string>
		<string>uni20A4</string>
		<string>uni20A6</string>
		<string>uni20A8</string>
		<string>uni20A9</string>
		<string>uni20AA</string>
		<string>uni20AB</string>
		<string>uni20AD</string>
		<string>uni20AE</string>
		<string>uni20B1</string>
		<string>uni20B2</string>
		<string>uni20B4</string>
		<string>uni20B5</string>
		<string>uni20B8</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni20BF</string>
		<string>fi</string>
		<string>fl</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>aacute.alt01</string>
		<string>abreve.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>uni1EA1.alt01</string>
		<string>agrave.alt01</string>
		<string>uni1EA3.alt01</string>
		<string>amacron.alt01</string>
		<string>aogonek.alt01</string>
		<string>aring.alt01</string>
		<string>aringacute.alt01</string>
		<string>atilde.alt01</string>
		<string>uni1EAF.alt01</string>
		<string>uni1EB7.alt01</string>
		<string>uni1EB1.alt01</string>
		<string>uni1EB3.alt01</string>
		<string>uni1EB5.alt01</string>
		<string>uni1EA5.alt01</string>
		<string>uni1EAD.alt01</string>
		<string>uni1EA7.alt01</string>
		<string>uni1EA9.alt01</string>
		<string>uni1EAB.alt01</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni0259</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>gbreve.alt01</string>
		<string>gcircumflex.alt01</string>
		<string>uni0123.alt01</string>
		<string>gdotaccent.alt01</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>ij</string>
		<string>ijacute</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>jcircumflex</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>napostrophe</string>
		<string>eng</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>germandbls</string>
		<string>germandbls.alt01</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>thorn</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni018F</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>IJ</string>
		<string>IJacute</string>
		<string>uni00A40301</string>
		<string>Jcircumflex</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E9E</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Thorn</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>uni1EF4</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni00B5</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>uni2126</string>
		<string>pi</string>
		<string>uni2070</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>uni215B</string>
		<string>uni215C</string>
		<string>uni215D</string>
		<string>uni215E</string>
		<string>uni2151</string>
		<string>uni2713</string>
		<string>uni274C</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowdown</string>
		<string>arrowright</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2199</string>
		<string>uni2198</string>
		<string>uni21B0</string>
		<string>uni21B2</string>
		<string>uni2B11</string>
		<string>uni2B0F</string>
		<string>uni2B10</string>
		<string>uni2B0E</string>
		<string>uni21B1</string>
		<string>uni21B3</string>
		<string>uni21C6</string>
		<string>uni21C4</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni21B6</string>
		<string>uni21B7</string>
		<string>uni21A9</string>
		<string>uni21AA</string>
		<string>uni21BA</string>
		<string>uni21BB</string>
		<string>tilde</string>
		<string>tilde.alt01</string>
		<string>macron</string>
		<string>dotaccent</string>
		<string>dieresis</string>
		<string>hungarumlaut</string>
		<string>acute</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>ringacute</string>
		<string>uni02BB</string>
		<string>uni02BC</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>uni0303</string>
		<string>uni0304</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>uni030B</string>
		<string>uni0301</string>
		<string>uni0300</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>uni0309</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>uni031B</string>
		<string>uni0327</string>
		<string>uni0323</string>
		<string>uni0326</string>
		<string>uni0328</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uniF6D7</string>
		<string>uni0308030C</string>
		<string>uniF6D8</string>
		<string>uni03020301</string>
		<string>uni03020306</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03080304</string>
		<string>uni03020303</string>
		<string>tilde.case</string>
		<string>tilde.alt01.case</string>
		<string>macron.case</string>
		<string>dotaccent.case</string>
		<string>dieresis.case</string>
		<string>hungarumlaut.case</string>
		<string>acute.case</string>
		<string>grave.case</string>
		<string>circumflex.case</string>
		<string>caron.case</string>
		<string>breve.case</string>
		<string>ring.case</string>
		<string>ringacute.case</string>
		<string>hookabovecomb.case</string>
		<string>uni03060301.ccmp0</string>
		<string>uni03060300.ccmp0</string>
		<string>uni03060309.ccmp0</string>
		<string>uni03060303.ccmp0</string>
		<string>uniF6D7.case</string>
		<string>uni0308030C.ccmp0</string>
		<string>uniF6D8.case</string>
		<string>uni03020301.ccmp0</string>
		<string>uni03020306.ccmp0</string>
		<string>uni03020300.ccmp0</string>
		<string>uni03020309.ccmp0</string>
		<string>uni03080304.ccmp0</string>
		<string>uni03020303.ccmp0</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uniEBE7</string>
	</array>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>700</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>a</string>
		<string>a.alt01</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>g.alt01</string>
		<string>g.alt02</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>zero</string>
		<string>zero.alt01</string>
		<string>zero.alt02</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>ampersand</string>
		<string>at</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>period</string>
		<string>ellipsis</string>
		<string>colon</string>
		<string>comma</string>
		<string>semicolon</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>exclamdown</string>
		<string>exclam</string>
		<string>questiondown</string>
		<string>question</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>degree</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>numbersign</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>lozenge</string>
		<string>logicalnot</string>
		<string>radical</string>
		<string>integral</string>
		<string>infinity</string>
		<string>uni212E</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>partialdiff</string>
		<string>cent</string>
		<string>Euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>dollar</string>
		<string>yen</string>
		<string>uni0E3F</string>
		<string>colonmonetary</string>
		<string>uni20A4</string>
		<string>uni20A6</string>
		<string>uni20A8</string>
		<string>uni20A9</string>
		<string>uni20AA</string>
		<string>uni20AB</string>
		<string>uni20AD</string>
		<string>uni20AE</string>
		<string>uni20B1</string>
		<string>uni20B2</string>
		<string>uni20B4</string>
		<string>uni20B5</string>
		<string>uni20B8</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni20BD</string>
		<string>uni20BF</string>
		<string>fi</string>
		<string>fl</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>uni1EA1</string>
		<string>agrave</string>
		<string>uni1EA3</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>uni1EAF</string>
		<string>uni1EB7</string>
		<string>uni1EB1</string>
		<string>uni1EB3</string>
		<string>uni1EB5</string>
		<string>uni1EA5</string>
		<string>uni1EAD</string>
		<string>uni1EA7</string>
		<string>uni1EA9</string>
		<string>uni1EAB</string>
		<string>aacute.alt01</string>
		<string>abreve.alt01</string>
		<string>acircumflex.alt01</string>
		<string>adieresis.alt01</string>
		<string>uni1EA1.alt01</string>
		<string>agrave.alt01</string>
		<string>uni1EA3.alt01</string>
		<string>amacron.alt01</string>
		<string>aogonek.alt01</string>
		<string>aring.alt01</string>
		<string>aringacute.alt01</string>
		<string>atilde.alt01</string>
		<string>uni1EAF.alt01</string>
		<string>uni1EB7.alt01</string>
		<string>uni1EB1.alt01</string>
		<string>uni1EB3.alt01</string>
		<string>uni1EB5.alt01</string>
		<string>uni1EA5.alt01</string>
		<string>uni1EAD.alt01</string>
		<string>uni1EA7.alt01</string>
		<string>uni1EA9.alt01</string>
		<string>uni1EAB.alt01</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>eth</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>uni1EB9</string>
		<string>egrave</string>
		<string>uni1EBB</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni1EBD</string>
		<string>uni1EBF</string>
		<string>uni1EC7</string>
		<string>uni1EC1</string>
		<string>uni1EC3</string>
		<string>uni1EC5</string>
		<string>uni0259</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>gbreve.alt01</string>
		<string>gcircumflex.alt01</string>
		<string>uni0123.alt01</string>
		<string>gdotaccent.alt01</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>uni1ECB</string>
		<string>igrave</string>
		<string>uni1EC9</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>ij</string>
		<string>ijacute</string>
		<string>uni0237</string>
		<string>uni006A0301</string>
		<string>jcircumflex</string>
		<string>uni0137</string>
		<string>kgreenlandic</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>ntilde</string>
		<string>napostrophe</string>
		<string>eng</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>uni1ECD</string>
		<string>ograve</string>
		<string>uni1ECF</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>ohorn</string>
		<string>uni1EDB</string>
		<string>uni1EE3</string>
		<string>uni1EDD</string>
		<string>uni1EDF</string>
		<string>uni1EE1</string>
		<string>uni1ED1</string>
		<string>uni1ED9</string>
		<string>uni1ED3</string>
		<string>uni1ED5</string>
		<string>uni1ED7</string>
		<string>oe</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>uni0219</string>
		<string>germandbls</string>
		<string>germandbls.alt01</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>thorn</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uni1EE5</string>
		<string>ugrave</string>
		<string>uni1EE7</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>uhorn</string>
		<string>uni1EE9</string>
		<string>uni1EF1</string>
		<string>uni1EEB</string>
		<string>uni1EED</string>
		<string>uni1EEF</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>uni1EF5</string>
		<string>ygrave</string>
		<string>uni1EF7</string>
		<string>uni1EF9</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>uni1EA0</string>
		<string>Agrave</string>
		<string>uni1EA2</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>uni1EAE</string>
		<string>uni1EB6</string>
		<string>uni1EB0</string>
		<string>uni1EB2</string>
		<string>uni1EB4</string>
		<string>uni1EA4</string>
		<string>uni1EAC</string>
		<string>uni1EA6</string>
		<string>uni1EA8</string>
		<string>uni1EAA</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eth</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>uni1EB8</string>
		<string>Egrave</string>
		<string>uni1EBA</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni1EBC</string>
		<string>uni1EBE</string>
		<string>uni1EC6</string>
		<string>uni1EC0</string>
		<string>uni1EC2</string>
		<string>uni1EC4</string>
		<string>uni018F</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>uni1ECA</string>
		<string>Igrave</string>
		<string>uni1EC8</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>IJ</string>
		<string>IJacute</string>
		<string>uni00A40301</string>
		<string>Jcircumflex</string>
		<string>uni0136</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>uni1ECC</string>
		<string>Ograve</string>
		<string>uni1ECE</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Ohorn</string>
		<string>uni1EDA</string>
		<string>uni1EE2</string>
		<string>uni1EDC</string>
		<string>uni1EDE</string>
		<string>uni1EE0</string>
		<string>uni1ED0</string>
		<string>uni1ED8</string>
		<string>uni1ED2</string>
		<string>uni1ED4</string>
		<string>uni1ED6</string>
		<string>OE</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>uni0218</string>
		<string>uni1E9E</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>Thorn</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>uni1EE4</string>
		<string>Ugrave</string>
		<string>uni1EE6</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Uhorn</string>
		<string>uni1EE8</string>
		<string>uni1EF0</string>
		<string>uni1EEA</string>
		<string>uni1EEC</string>
		<string>uni1EEE</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>uni1EF4</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>uni1EF6</string>
		<string>uni1EF8</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uni00B5</string>
		<string>uni2206</string>
		<string>product</string>
		<string>summation</string>
		<string>uni2126</string>
		<string>pi</string>
		<string>uni2070</string>
		<string>uni00B9</string>
		<string>uni00B2</string>
		<string>uni00B3</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>uni215B</string>
		<string>uni215C</string>
		<string>uni215D</string>
		<string>uni215E</string>
		<string>uni2151</string>
		<string>uni2713</string>
		<string>uni274C</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowdown</string>
		<string>arrowright</string>
		<string>uni2196</string>
		<string>uni2197</string>
		<string>uni2199</string>
		<string>uni2198</string>
		<string>uni21B0</string>
		<string>uni21B2</string>
		<string>uni2B11</string>
		<string>uni2B0F</string>
		<string>uni2B10</string>
		<string>uni2B0E</string>
		<string>uni21B1</string>
		<string>uni21B3</string>
		<string>uni21C6</string>
		<string>uni21C4</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni21B6</string>
		<string>uni21B7</string>
		<string>uni21A9</string>
		<string>uni21AA</string>
		<string>uni21BA</string>
		<string>uni21BB</string>
		<string>tilde</string>
		<string>tilde.alt01</string>
		<string>macron</string>
		<string>dotaccent</string>
		<string>dieresis</string>
		<string>hungarumlaut</string>
		<string>acute</string>
		<string>grave</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>ringacute</string>
		<string>uni02BB</string>
		<string>uni02BC</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>uni0303</string>
		<string>uni0304</string>
		<string>uni0307</string>
		<string>uni0308</string>
		<string>uni030B</string>
		<string>uni0301</string>
		<string>uni0300</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>uni0309</string>
		<string>uni0312</string>
		<string>uni0315</string>
		<string>uni031B</string>
		<string>uni0327</string>
		<string>uni0323</string>
		<string>uni0326</string>
		<string>uni0328</string>
		<string>uni03060301</string>
		<string>uni03060300</string>
		<string>uni03060309</string>
		<string>uni03060303</string>
		<string>uniF6D7</string>
		<string>uni0308030C</string>
		<string>uniF6D8</string>
		<string>uni03020301</string>
		<string>uni03020306</string>
		<string>uni03020300</string>
		<string>uni03020309</string>
		<string>uni03080304</string>
		<string>uni03020303</string>
		<string>tilde.case</string>
		<string>tilde.alt01.case</string>
		<string>macron.case</string>
		<string>dotaccent.case</string>
		<string>dieresis.case</string>
		<string>hungarumlaut.case</string>
		<string>acute.case</string>
		<string>grave.case</string>
		<string>circumflex.case</string>
		<string>caron.case</string>
		<string>breve.case</string>
		<string>ring.case</string>
		<string>ringacute.case</string>
		<string>hookabovecomb.case</string>
		<string>uni03060301.ccmp0</string>
		<string>uni03060300.ccmp0</string>
		<string>uni03060309.ccmp0</string>
		<string>uni03060303.ccmp0</string>
		<string>uniF6D7.case</string>
		<string>uni0308030C.ccmp0</string>
		<string>uniF6D8.case</string>
		<string>uni03020301.ccmp0</string>
		<string>uni03020306.ccmp0</string>
		<string>uni03020300.ccmp0</string>
		<string>uni03020309.ccmp0</string>
		<string>uni03080304.ccmp0</string>
		<string>uni03020303.ccmp0</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uniEBE7</string>
	</array>
</dict>
</plist>
